@font-face {
  font-family: "iconfont"; /* Project id 3806670 */
  src: url('iconfont.woff2?t=1670055545028') format('woff2'),
       url('iconfont.woff?t=1670055545028') format('woff'),
       url('iconfont.ttf?t=1670055545028') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blog-lianjie:before {
  content: "\e600";
}

.blog-duihuazixun:before {
  content: "\e700";
}

.blog-zhuye:before {
  content: "\e625";
}

.blog-iconfontzhizuobiaozhun023133:before {
  content: "\e687";
}

.blog-guidangicon:before {
  content: "\e684";
}

.blog-shezhi:before {
  content: "\e892";
}

.blog-sucai:before {
  content: "\e601";
}

.blog-24gl-tags3:before {
  content: "\e87d";
}

.blog-zhuye1:before {
  content: "\e642";
}

.blog-aixin:before {
  content: "\e608";
}

.blog-guidang:before {
  content: "\e63e";
}

.blog-guanyu:before {
  content: "\e60a";
}

.blog-shijian:before {
  content: "\e855";
}

.blog-sousuo:before {
  content: "\e74f";
}

