.home {
  margin: 0 auto;
  padding: 40px 15px;
  // width: 100%;
  color: var(--text-clolor);
}
.item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.home-pc {
  display: flex;
  justify-content: space-around;
  .home-list {
    color: black;
    background-color: aqua;
    width: 60%;
    .item,
    .list {
      color: var(--text-clolor) !important;
    }
    .item {
      // width: 300px;
      width: 68%;
      display: flex;
      background-color: var(--preloader-bg);
      border-radius: 10px;
      // align-items: center;
      // flex-direction:column-reverse;
      justify-content: space-between;
      margin: 10px 0;
      height: 250px;
      // justify-content: space-between;
      // overflow: hidden;
      // height: 18em;
    }
    .item-left {
      flex-direction: row-reverse;
      .post_cover {
        width: 47%;
      }
    }
    .post_cover {
      // width: 34%;
      height: 100%;
      img {
        border-radius: 10px 0 0 10px;
        height: 100%;
      }
    }

    .home-post-info {
      width: 53.5%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      // padding: 0 40px;
      // width: 34%;
      // text-align: center;
    }
  }
}
.home-move {
  display: flex;
  // justify-content: space-around;
  flex-direction: column;
  .home-list {
    // width: 100%;
  }
  .item {
    width: 100%;
    // background-color: aqua;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .post_cover {
    // width: 34%;
    // height: 100%;
    img {
      border-radius: 10px 0 0 10px;
      // height: 100rem;
      width: 100%;
      border-radius: 10px;
      // height: 200px;
    }
  }
  .home-post-info {
    padding: 18px;
    .post-title {
      font-size: 18px;
      // font-weight: bold;
      color: var(--text-clolor);
      text-align: left;
      padding: 8px;
    }
    .post-meta {
      text-align: left;
      span{
        margin-right: 8px;
      }
      // .anticon-folder-open {
      //   color: var(--post_date_text_color);
      // }
    }
    .post-date {
      background-color: #fff5e0;
      font-size: 12px;
      width: max-content;
      padding: 4px 10px 4px 10px;
      border-radius: 6px;
      color: var(--post_date_text_color, #505050);
      white-space: nowrap;
      font-weight: var(--global-font-weight);
      transition: all 0.8s ease !important;
    }
    .post-content {
      margin-top: 10px;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}

.home-aside {
  width: 26%;
}
