.home {
  margin: 0 auto;
  padding: 40px 15px;
  // width: 100%;
  color: var(--text-clolor);
}

.item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  // box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.item-hover:hover {
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

:global {
  .card-info-tooltip {
    text-align: center !important;
  }
}

.item-headline {
  text-align: left;

  span {
    margin-left: 10px;
    font-size: 18px;
  }
}

a {
  text-decoration: none;
}

.home-pc {
  display: flex;
  // justify-content: space-around;
  text-align: center;
  padding: 20px 2vw;
  justify-content: center;

  .home-list {
    color: black;
    // background-color: aqua;
    width: 50%;

    .item,
    .list {
      color: var(--text-clolor) !important;
    }

    .item {
      // width: 300px;
      width: 100%;
      display: flex;
      background-color: var(--preloader-bg);
      border-radius: 10px;
      // align-items: center;
      // flex-direction:column-reverse;
      justify-content: space-between;
      margin: 20px 0;
      // height: 250px;
      // justify-content: space-between;
      // overflow: hidden;
      // height: 18em;
    }

    .item-left {
      flex-direction: row-reverse;
    }

    .post_cover {
      // width: 34%;
      height: 100%;

      img {
        border-radius: 10px;
        // height: 100%;
        max-height: 250px;
        width: 26vw;
        object-fit: cover;
        // height: 250px;
      }
    }

    .home-post-info {
      // width: 53.5%;
      width: 100%;
      padding: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;

      .post-title {
        font-size: 18px;
        // font-weight: bold;
        color: var(--text-clolor);
        text-align: left;
        padding: 8px;
        font-weight: 900;
      }

      .post-meta {

        // text-align: left;
        span {
          margin-right: 8px;
        }
      }

      .post-date {
        background-color: #fff5e0;
        font-size: 14px;
        padding: 4px 10px 4px 10px;
        border-radius: 6px;
        color: var(--post_date_text_color, #505050);
        white-space: nowrap;
        font-weight: var(--global-font-weight);
        transition: all 0.8s ease !important;
        position: absolute;
        top: 10px;
        left: 20px;
      }
    }
  }

  .home-aside {
    width: 26%;
    margin-left: 20px;
    margin-top: 18px;
  }

}
.card-info {
  background-color: var(--aside-bg-color);
  border-radius: 10px;
  padding: 20px;

  .author-info__name,
  .author-info__description {
    margin: 10px 0;
  }

  .site-data {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: auto;
    margin: 20px 0;

    .length-num {
      margin: 6px 0;
    }


  }

  .card-info-btn {
    width: 100%;
  }

  .card-info-social-icons {
    padding: 10px;
  }

  .card-info-social-icons a {
    // display: block;
    margin: 0 8px;
  }
}
.card-widget{
  margin-top: 20px;
  background-color: var(--aside-bg-color);
  border-radius: 10px;
  padding: 14px;
}
.card-announcement {
  .announcement_content {
    padding: 10px 0;
    line-height: 1.8;
    text-align: left;
  }
}

.card-docs {
  .item-content {
    margin-top: 10px;

    ul {
      width: 100%;
      padding: 0;
    }

    li {
      list-style: none;
      width: 100%;
      text-align: left;
      padding: 10px;

    }

    a {
      color: var(--text-clolor);
    }

    li:hover {
      background-color: var(--hover-color);
    }
  }
}

.card-recent-post {
  .aside-list-item {
    display: flex;
    border-bottom: 1px silver dashed;
    padding: 6px;

    .content {
      text-align: left;

      div {
        margin: 6px;
      }
    }
  }

  .aside-list-item:hover {
    // background-color: var(--hover-color);
    color: var(--text-hover-clolor);
  }
}
.card-webinfo{
  .webinfo-item{
    padding: 10px;
    font-size: 16px;
  }
  .left{
    text-align: left;
  }
  .right{
    text-align: right;
  }
}

.home-move {
  display: flex;
  // justify-content: space-around;
  flex-direction: column;

  .home-list {
    // width: 100%;
    margin-bottom: 20px;
  }

  .item {
    width: 100%;
    // background-color: aqua;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .post_cover {

    // width: 34%;
    // height: 100%;
    img {
      border-radius: 10px 0 0 10px;
      height: 210px;
      width: 100%;
      border-radius: 10px;
      object-fit: cover;
      // height: 200px;
    }
  }

  .home-post-info {
    padding: 18px;

    .post-title {
      font-size: 18px;
      // font-weight: bold;
      color: var(--text-clolor);
      text-align: left;
      padding: 8px;
      font-weight: 700;
    }

    .post-meta {
      text-align: left;

      span {
        margin-right: 8px;
      }

      // .anticon-folder-open {
      //   color: var(--post_date_text_color);
      // }
    }

    .post-date {
      background-color: #fff5e0;
      font-size: 12px;
      width: max-content;
      padding: 4px 10px 4px 10px;
      border-radius: 6px;
      color: var(--post_date_text_color, #505050);
      white-space: nowrap;
      font-weight: var(--global-font-weight);
      transition: all 0.8s ease !important;
    }
  }
}

.post-content {
  margin-top: 10px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}